COMPOSE_PROJECT_NAME=xui-config
SMOKE_SSH_HOST=192.168.2.195
SMOKE_SSH_PORT=22
SMOKE_SSH_USER=root
SMOKE_REMOTE_PATH=/opt/xui-config
WEB_ADMIN_PASSWORD=__CHANGE_ME__
WEB_SESSION_SECRET=__GENERATE_A_LONG_RANDOM_SECRET__
